.button {
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  text-align: center;
  display: block;
  width: 219px;
  height: 50px;
  padding: 12px;
  font-family: $PTSans-Bold;
  font-size: 18px;
  background-color: $base-orange;
  color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;

  &--middle {
    width: 300px;
    height: 70px;
  }

  &--white {
    background-color: $white;
    color: $base-black;
    border: 1px solid $base-black;
    margin-left: 28px;

    @include vp-767 {
      margin-left: 0;
      margin-top: 20px;
    }

  }

  &--next {
    position: absolute;
    width: 66px;
    height: 66px;
  }

  &--prev {
    position: absolute;
    width: 66px;
    height: 66px;
  }

  &--card {
    width: 311px;

    @include vp-767 {
      width: 263px;
    }
  }

  &--catalog {
    @include vp-1600 {
      width: 225px;
    }

    @include vp-1599 {
      width: 188px;
    }

    @include vp-767 {
      width: 100%;
    }

  }

  &--call {
    width: 300px;
  }

  &--social {
    width: 170px;
    font-size: 13px;
  }

  &--long {
    width: 100%;
    margin-top: 50px;
  }
}

.button__link-icon {
  width: 10px;
  height: 17px;
}
