.card {
  width: 370px;
  min-height: 590px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  margin-right: 30px;
}
// .card:nth-last-of-type(4) {
//   margin-right: 0;
// }

.card::after {
content: "";
display: block;
position: absolute;
background-image: url(../../images/desktop1600/mark-right.png);
background-repeat: no-repeat;
width: 15px;
height: 100px;
right: 0;
top: 38%;
}

.card::before {
  content: "";
display: block;
position: absolute;
background-image: url(../../images/desktop1600/mark-left.png);
background-repeat: no-repeat;
width: 15px;
height: 100px;
left: 0;
top: 38%;
}

.card__link {
  font-family: $PTSans-Bold;
  font-size: 18px;
  line-height: 141.7%;
  color: $base-black;
}
.card__title {
  margin: 0;
  padding: 0;
  font-family: $montserrat-bold;
  font-size: 25px;
  line-height: 142.2%;
  color: $base-black;
  padding: 30px;
}

.card__title::after {
  content: "";
  display: block;
  border: 1px solid $base-yellow;
  width: 100%;
}

.card__item {
  padding: 22px 30px;
}
.card__caption {
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 156.7%;
  color: $base-black;

}
.card__description {
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 156.7%;
  color: $base-black;
  padding-left: 49px;
}

.card__button {
  padding-left: 30px;
}
