.filter__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 133px;
  margin-bottom: 30px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 1000px;
}

.filter__title__wrapper {
  background-color: $base-blue;
}

.filter__title {
  font-family: $montserrat-regular;
  font-size: 18px;
  color: $white;
  padding: 14px 20px 14px 30px;
}

.filter__list {
  list-style-type: none;
  width: 270px;
  margin: 0;
  padding: 0;
  font-family: $montserrat-regular;
  font-size: 12px;
  color: $base-black;
}

.filter__item {
  padding: 13px 30px;
}

.filter__item:hover {
  color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $base-blue;
}

.filter__link {}
