.item {
}

.item__list {
  list-style-type: none;
  color: $white-grey;
  font-family: $montserrat-bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 142.2%;
  padding: 10px 10px 10px 35px
}

.item__item:hover {
  color: $base-orange;
}
