.main-contacts {
  width: 100%;
  background-color: $base-blue;
  color: $white;


  @include vp-1600 {}

  @include vp-1599 {}

  @include vp-767 {}

  &--page {
    background-color: $white;
    color: $base-black;
  }
}

.main-contacts__wrapper {

  @include vp-1600 {
    display: flex;
    width: $desktop-width;
    align-items: center;
    justify-content: space-between;
    padding: 47px 185px 50px 132px;
    margin: 0 auto;
  }

  @include vp-1599 {
    display: flex;
    width: $tablet-width;
    margin: 0 auto;
    padding: 47px 10px 50px;
  }

  @include vp-767 {
    display: flex;
    width: $mobile-width;
    flex-direction: column;
  }

}

.main-contacts__title {
  font-family: $PTSans-Bold;
  font-size: 30px;
  margin: 0;

  @include vp-1600 {
    margin-bottom: 25px;
  }

  @include vp-1599 {
    margin-bottom: 61px;
  }

  @include vp-767 {}
}

.main-contacts__description {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include vp-1600 {
    width: 800px;
  }

  @include vp-1599 {
    width: 400px;
    padding: 0 5px 5px 0;
  }

  @include vp-767 {
    width: 320px;
  }
}

.main-contacts__text {
  margin: 0;
  font-family: $montserrat-regular;
  font-size: 16px;
  margin-bottom: 20px;

  @include vp-1600 {}

  @include vp-1599 {}

  @include vp-767 {}
}

.main-contacts__text br {

  @include vp-1600 {}

  @include vp-1599 {
    display: none;
  }

  @include vp-767 {}
}

.main-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-1600 {

    display: flex;
    flex-wrap: wrap;
    width: 700px;
    align-items: center;
  }

  @include vp-1599 {}

  @include vp-767 {}
}

.main-contacts__item {
  font-family: $montserrat-regular;
  font-size: 16px;

  @include vp-1600 {
    width: 300px;
    display: flex;
    align-items: center;
  }

  @include vp-1599 {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  @include vp-767 {}
}

.main-contacts__link-icon {
  @include vp-1600 {}

  @include vp-1599 {}

  @include vp-767 {}
}

.main-contacts__link-text {
  margin: 0;
  padding: 0;

  @include vp-1600 {
    margin-left: 10px;
  }

  @include vp-1599 {
    margin-left: 10px;
  }

  @include vp-767 {}
}

.main-header__link-icon {
  @include vp-1600 {}

  @include vp-1599 {}

  @include vp-767 {}
}

.main-contacts__phone-block {
  font-style: normal;

  @include vp-1600 {
    padding-left: 10px;
  }

  @include vp-1599 {}

  @include vp-767 {}
}

.main-contacts__form {
  display: flex;

  @include vp-1600 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 472px;
    margin-top: 70px;
  }

  @include vp-1599 {
    flex-direction: column;
    gap: 15px;
    width: 354px;
    margin-top: 100px;
  }

  @include vp-767 {
    width: 320px;
  }
}

.main-contacts__input {
  @include vp-1600 {
    padding: 15px 15px 15px 28px;
    width: 228px;

    &--long {
      width: 100%;
    }
  }

  @include vp-1599 {
    padding: 15px 15px 15px 28px;
    width: 354px;
  }

  @include vp-767 {
    width: 320px;
  }


}
