.main-catalog {
  width: 100%;
  background-color: $white-grey;
  margin: 0 auto;
  flex-grow: 1;

  @include vp-1600 {
    background-color: $white-grey;
  }

  @include vp-1599 {}

  @include vp-767 {}

}

.main-catalog__wrapper::after {

  @include vp-1600 {
    position: absolute;
    content: "38 СПЕЦТЕХ";
    display: block;
    width: auto;
    height: auto;
    font-family: $PTSans-Bold;
    font-size: 255px;
    color: $text-grey;
    transform: rotate(90deg);
    bottom: 40%;
    right: -42%;
  }

  @include vp-1599 {
    display: none;
  }

}

.main-catalog__wrapper {
  position: relative;

  @include vp-1600 {
    width: $desktop-width;
    margin: 0 auto;
    padding: 39px 0 230px
  }

  @include vp-1599 {
    width: $tablet-width;
    margin: 0 auto;
    padding: 39px 0 230px
  }

  @include vp-767 {
    width: $mobile-width;
    margin: 0 auto;
  }
}

.main-catalog__title {
  margin: 0;
  padding: 0;
  font-family: $PTSans-Bold;
  color: $base-black;

  @include vp-1600 {
    font-size: 44px;
    padding-left: 133px;
    margin-bottom: 50px;
  }

  @include vp-1599 {
    font-size: 44px;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  @include vp-767 {}

}

.main-catalog__box {
  display: flex;
}

.main-catalog__card-wrapper {
  @include vp-1600 {
    width: $desktop-width;
    margin: 0 auto;
  }

  @include vp-1599 {
    width: $tablet-width;
    margin: 0 auto;
  }

  @include vp-767 {
    width: $mobile-width;
    margin: 0 auto;
  }

}


.main-catalog__card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  @include vp-1600 {
    display: flex;
    flex-wrap: wrap;
    width: 945px;
    margin-left: 130px;
    min-height: 1000px;

  }

  @include vp-1599 {
    display: flex;
    flex-wrap: wrap;
    width: 482px;
    min-height: 1000px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    width: $mobile-width;
    margin: 0 auto;
    justify-content: center;
  }
}
