/* здесь подключите шрифты*/
@font-face {
  font-family: "Montserrat-Bold";
  src:
    url("../../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src:
    url("../../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src:
    url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Bold";
  src:
    url("../../fonts/PT_Sans-Web-Bold.woff2") format("woff2"),
    url("../../fonts/PT_Sans-Web-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Regular";
  src:
    url("../../fonts/PT_Sans-Web-Regular.woff2") format("woff2"),
    url("../../fonts/PT_Sans-Web-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src:
    url("../../fonts/Roboto-Light.woff2") format("woff2"),
    url("../../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src:
    url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial-narrow";
  src:
    url("../../fonts/arialnarrow.woff2") format("woff2"),
    url("../../fonts/arialnarrow.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
