/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;


}

body {
  background-color: $base-blue;
  margin: 0 auto;
  color: $base-blue;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-body {
  position: relative;
}

.form-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-blue url(../../images/desktop1600/sending.gif) center / 50px no-repeat;
  z-index: 40;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.form-body._sending::after {
  opacity: 1;
  visibility: visible;
}
