/* здесь используйте глобальные переменные */
//Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1600px;

//Others width
$main-block-width: 1143px;
//Fonts
$montserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$montserrat-medium: "Montserrat Medium", "Arial", sans-serif;
$montserrat-bold: "Montserrat Bold", "Arial", sans-serif;
$PTSans-regular: "PTSans-regular","Arial", sans-serif;
$PTSans-Bold: "PTSans-Bold","Arial", sans-serif;
$Roboto-medium:"Roboto", "Arial", sans-serif;
$Arial-narrow:"Arial-narrow", "Arial", sans-serif;
//Colors
$white: #ffffff;
$white-grey:#f5f5f5;
$base-blue: rgba(42, 56, 91, 0.95);
$base-orange: #ED6D12;
$base-yellow: #FCD127;
$base-black: #2d2d2d;
$base-grey: #bdbdbd;
$base-blue-second:#2A385B;
$base-grey-second:#535554;

$pag-grey: #C4C4C4;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
$text-grey: #D3D0D0;

$light-grey: #e7e7e7;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
